<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1>Prestige Boiler Service</h1>
            <p>installation, servicing and repair</p>
        </div>
      </div>
    <div class="content">
        <div class="contentSection" id="about">
            <h1>About Us</h1>
            <p>Established in 1993, Prestige Boilers is a leading provider of oil-fired boiler installation, servicing, and repair services in Belfast and the surrounding areas. As a trusted service agent for the Grant boilers group, we have the knowledge and experience to deliver top-quality workmanship and customer service.</p>
            <p>At Prestige Boilers, we pride ourselves on providing a complete boiler maintenance solution to our domestic customers. Our range of services includes boiler servicing and cleaning, central heating services, and boiler repairs, ensuring that our customers' heating systems are running smoothly and efficiently.</p>
            <p>We understand the importance of timely and reliable service, which is why we maintain a surplus of repair parts to ensure that our customers' needs are met quickly and efficiently. Our commitment to quality workmanship and customer satisfaction has earned us the trust of many customers within a 35-mile radius of Belfast, who have relied on us for over 30 years.</p>
            <p>At Prestige Boilers, we are dedicated to delivering exceptional service and expert advice to our customers. Contact us today to learn more about how we can help you keep your heating system running efficiently all year round.</p>
        </div>
        <div class="contentSection" id="serviceTypes">
            <h2>Services Types</h2>
            <h3>Boiler Servicing</h3>
            <p>At Prestige Boilers, we believe that regular boiler servicing is essential to keep your heating system running smoothly and efficiently. We provide a comprehensive boiler servicing to ensure that your oil-fired boiler is in top condition and operating at peak efficiency. During a boiler service appointment, we will thoroughly clean and inspect your boiler, checking for any signs of wear and tear or potential issues. We will also tune the boiler to maximise its efficiency and performance, which can result in significant savings on your fuel bills over time.</p>
            <h3>Boiler Repairing</h3>
            <p>With over 30 years of experience in repairing boilers, Prestige boilers has the knowledge and expertise to quickly diagnose and repair any issue with your boiler. Whether it's a faulty thermostat, a malfunctioning pump, or a leaking pipe, we have the tools and skills needed to get the job done right the first time. We will also offer insights into parts that may need to be replaced soon to prevent future breakdowns and ensure your system runs smoothly for years to come.</p>
            <h3>Central Heating Services</h3>
            <p>Prestige boilers’ offer a range of services to help maximise the performance of your central heating system, including radiator flushing, fixing leaks, replacing water pumps and oil tanks, and much more. Our comprehensive approach ensures that every aspect of your system is thoroughly inspected and serviced to prevent any potential issues from arising in the future.</p>
        </div>
        <section id="faq">
            <div class="contentSection">
                <h2>FAQ</h2>
                <h3>How much is a boiler service?</h3>
                <p>Boiler services start at £40 plus VAT and any parts which need replaced!</p>
                <h3>Do you fix gas boilers?</h3>
                <p>No, We only specialise in oil fired boiler serving and repairs.</p>
                <h3>How often should I have my boiler serviced?</h3>
                <p>We recommend having your boiler serviced annually to ensure that it is running efficiently and to prevent breakdowns.</p>
                <h3>How long does a boiler service take?</h3>
                <p>A boiler service typically takes around one hour, although this can vary depending on the complexity of the system and any issues that need to be addressed.</p>
                <h3>How can I tell if my boiler needs repairs?</h3>
                <p>Some common signs that your boiler may need repairs include unusual noises, reduced heat output, leaks, and frequent breakdowns.</p>
                <h3>How can I book a service or repair appointment?</h3>
                <p>You can book an appointment by calling us directly or filling out our online contact form. We will work with you to schedule a convenient time for your service or repair.</p>
                <br>    
            </div>
        </section>
    </div>
    <footer>
        <p>25 Brentwood Park, Belfast, Northern Ireland. BT5 7LQ</p>
        <a href="mailto:prestigeboilers@btconnect.com">prestigeboilers@btconnect.com</a>
        <p></p>
        <p><b>T:</b> 028 90 401202 | <b>M:</b> 07774 414323</p>
    </footer>
    
</body>