.loginform {
    background-color: #bbbbbb;
    padding: 20px;
    margin: auto;
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .loginform h2 {
    text-align: center;
  }

  .loginform p {
    text-align: center;
    font-style: italic;
  }
  
  .loginform button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .loginform button:hover:not(:disabled) {
    background-color: red;
  }
  .loginform form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Add this rule to center the form horizontally */
    justify-content: center; /* Add this rule to center the form vertically */
  }
  
  .loginform div {
    width: 100%;
    display: flex;
    min-width: 150px;
    max-width: 500px;
    flex-direction: column;
    align-items: center; /* Add this rule to center the input fields horizontally */
  }
  
  .loginform button {
    margin-top: 20px;
    background-color: #000000;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center; /* Add this rule to center the submit button horizontally */
  }
  
  