.registerform {
  max-width: 500px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

.registerform h2 {
  padding: 20px 0;
}

.registerform p {
  margin: 0 0 20px;

}

.registerform form {
  display: flex;
  flex-direction: column;
}

.registerform mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.registerform input {
  min-width: 250px;
  max-width: 350px;
  padding: 10px;
}

.registerform button[type="submit"] {
  background-color: #6b726b;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  float: right;
  margin-right: 10px;
  
}
.registerform div:last-child {
  text-align: center;
}

.registerform button[type="submit"]:hover {
  background-color: #f44336;
}

@media only screen and (max-width: 600px) {
  .registerform input {
    width: 100%;
  }
}